.header{
    width: 1519px;
    height: 120px;
    padding-top: 10px;
    box-sizing: border-box;
}
.header .H-content{
    width: 1190px;
    margin: 0px auto;
    height: 100px;

}
.header .H-content .logo{
    float: left;
    margin-right: 20px;
    height: 100%;
}
.header .H-content .logo img{
    margin-top: 20px;
}
.header .H-content h2{
    font-size: 26px;
    font-weight: 200;
    line-height: 50px;
}
.header .H-content p{
}
.header hr{
    border: 1px solid #f27578;
    clear: both;
}
.address .innerContent{
    width: 1190px;
    margin: 20px auto;
}
.innerContent .city>li{
    height: 80px;
    border-bottom: 1px dashed #eee;
}
.innerContent .city>li span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.city>li .college .collegeName a{
    font-size: 12px;
    margin-right: 10px;
}
